{% include "app/sitenavbar.html" %}
{% load static %}
    <div class="bodycontainer">
        <section class="">
            <div class="heading" style="padding: 2rem;">
                <p class="f-700 dark-blue" style="font-size: 3.5rem;text-align: center">About Us</p>
                <p class="f-18" style="text-align: justify;">Piranhad is a software solution for many of the problems plaguing advertising operations teams and programmatic media agencies. Many man hours are spent putting together screenshots to showcase banner and video ad units for advertising clients of their “live” placements. Piranhad automates this process by using your uploaded ad creatives and automatically creating screenshots of sample placements across hundreds of the top sites and ad inventory. In just minutes Piranhad users can create dozens of screenshots to showcase ad placements of banner and video ad creative. <br><br>
                    Looking for an easy way to quickly produce banner ads using proven, engaging, designs? Piranhad includes a banner ad creative development tool that allows users to upload images, a logo, and copy to easily produce banner ads in a variety of the top most available ad unit sizes including 300x250, 728x90, 320x50, 160x600 and more. Design a full suite of ad creative for digital media campaigns in minutes. <br><br>
                    Piranhad is developed by a team of digital advertising and ad operations experts with over 15 years of experience in the digital advertising, programmatic, and media buying industry. Piranhad is based in the USA, with teams in Georgia and Indiana. Our software is made possible through collaboration with <a href="https://fabtechsol.com/" class="dark-blue" style="text-decoration: none; padding: 0;">Fabulous Technology Solutions</a>. 
                </p>
            </div>

            <div class="section-container1">
                <div class="section-container1-items">
                    <p>Wave goodbye to your busy work</p>
                </div>
                <p class="para f-22 f-700">Don't waste another minute. Signup for access now and start saving time</p>
                <div class="">
                    <a href="/register"><button class="blue-grad-btn">Start Now</button></a>
                </div>
            </div>
        </section>
    </div>
{% include 'app/footer.html' %}
</body>

</html>