{% include "app/sitenavbar.html" %}
{% load static %}
<div   style="background-color: #e9f6ff; padding: 2rem 0;">
    <section>
        <div class="blogContainer1">
            <div class="blog-container">
                <img src="{% static 'assets/1 (14).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS <span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (15).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS CUSTOMER STORES<span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (14).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS <span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (15).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS CUSTOMER STORES<span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (14).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS <span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (15).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS CUSTOMER STORES<span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (14).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS <span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (15).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS CUSTOMER STORES<span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (14).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS <span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (15).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS CUSTOMER STORES<span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (14).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS <span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
            <div class="blog-container">
                <img src="{% static 'assets/1 (15).png' %}" alt="">
                <div class="post-time">
                    <p>AD OPS CUSTOMER STORES<span>3 min read</span></p>
                </div>
                <p>What are ad screenshots or tear sheets, and how do I capture these for digital ad campaigns?</p>
                <div class="post-by">
                    <img src="{% static 'assets/Group 145.png' %}" alt="">
                    <p>Adam Johns</p>
                </div>
            </div>
        </div>

    </section>
</div>
    {% include 'app/footer.html' %}
    </div>
</body>

</html>