{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Checkout canceled</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'client.js' %}"  defer></script>
</head>

<body>
  <section>
    <div class="section-container1">
      <div class="product Box-root">
        <div class="section-container1-items">
          <h1 style="font-size: 5rem;">Checkout canceled!</h1>
        </div>
      </div>
        <div class="section-container1-items" style="margin-top: 2%;">
          <a href="/home"><button class="btn-primary nav3-items">Return to Piranhad</button></a>
        </div>
    </div>
  </section>
  </body>

</html>