{% load static %}
<footer>
    <div class="footercontainer">
        <div class="footerdetail">
            <!-- <img src="{% static 'assets/Group 147.png' %}" alt="footer-logo"> -->
            <div class="navdivs nav1 flex-center" style="margin-bottom: 3rem;">
                <img class="navdivs-img" src="{% static 'assets/navLogo.png' %}" alt="Main-logo" style="width: 7.6rem;height: auto;">
                <h3 class="f-700 f-opificio">Piranhad</h3>
            </div>
            <ul>
                <li>Capture sample screenshots of video and display ad campaigns to reduce ad operations busy work.</li>
                <li>Piranhad allows media teams and ad agencies to showcase how advertiser creative will appear on live websites without the need to utilize photo editing software and time wasting processes.</li>
                <li>Easily create screenshots from live websites for most common ad sizes across mobile and desktop in minutes!</li>
            </ul>
        </div>
        <div class="footerlinks">
            <!-- <p class="heading">Products</p>
            <div>
                <a href="ad-qa">Ad QA</a>
                <a href="ad-txt-pro">Ads.txt Pro</a>
                <a href="screenshot">Screenshots</a>
                <a href="pricing">Pricing</a>
                <a href="#">Help Center</a>
            </div> -->
        </div>
        <div class="footerlinks">
            <p class="heading">Connect Us</p>
            <div>
                <img class="social-icons" src="{% static 'assets/Icon awesome-facebook-square-1.png' %}" alt="">
                <img class="social-icons" src="{% static 'assets/Icon awesome-twitter-square-1.png' %}" alt="">
                <img class="social-icons" src="{% static 'assets/Group -1.png' %}" alt="">
                <img class="social-icons" src="{% static 'assets/linkedin-logo-png-2026.png' %}" alt="">
            </div>
        </div>
        <div></div>
    </div>
    <div class="footer" style="background-color: #0071bd; font-size: 1.4rem; text-align: center;color: white;padding: .8rem;">
      All rights reserved 2022 by <a class="" style="color: white; text-decoration: none; padding: 0;" href="/index">Piranhad</a>. 
      <!-- Powered by <a href="https://fabtechsol.com/" class="" style="color: white; text-decoration: none; padding: 0;">Fabulous Technology Solutions</a>. -->
    </div>
</footer>