{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'screenshot.css' %}">
    <script defer src="{% static 'home.js' %}" ></script>
    <title>Pirahand</title>
</head>

<body>
    <div class="bodycontainer">
        <nav>
            <div class="navdivs nav1">
                <img class="navdivs-img" src="{% static 'assets/Group 147.png' %}" alt="Main-logo">
            </div>
            <div class="navdivs nav2">
                <ul class="navitems">
                    <div class="cross">&#10006;</div>
                    <li><a href="index">Home</a></li>
                    <li class="dropdown"><a class="active" href="#">Products <span class="downarrow">&#x25BC;</span>
                            <span class="uparrow">&#x25B2;</span> </a>
                        <ul class="dropdown-content">
                            <li><a class="active" href="screenshot">Screenshots</a></li>
                            <li><a href="ad-qa">Ad QA</a></li>
                            <li><a href="ad-txt-pro">Ads txt Pro</a></li>
                        </ul>
                    </li>
                    <li><a href="integration">Integration</a></li>
                    <li><a href="pricing">Pricing</a></li>
                    <li><a href="reviews">Reviews</a></li>
                    <li><a href="blogs">Blogs</a></li>
                </ul>
            </div>
            <div class="navdivs nav3">
                {% if user.is_authenticated %}
                <a href="home"><p class="nav3-items">Dashboard</p></a>
                <a href="logout"><p class="nav3-items">Sign Out</p></a>
                {% else %}
                <a href="login"><p class="nav3-items">Sign in</p></a>
                <a href="register"><button class="btn-primary nav3-items" >Start Now</button></a>
                {% endif %}
            </div>
            <div class="navhamburger">&#x2630;</div>
        </nav>
        <section>
            <div class="container1">
                <div class="boxes one">
                    <div>
                        <p>Ad Screenshots</p>
                        <div>
                            <input type="text" placeholder="Comany Email">
                            <input type="button" value="Start Now">
                        </div>
                        <div class="workWith">
                            <p>Work with</p>
                            <div>
                                <div class="items">
                                    <div>
                                        <img class="display" src="{% static 'assets/1 (24).png' %}" alt="">
                                    </div>
                                    <p>Display ads</p>
                                </div>
                                <div class="items">
                                    <div>
                                        <img class="video" src="{% static 'assets/1 (25).png' %}" alt="">
                                    </div>
                                    <p>Video ads</p>
                                </div>
                                <div class="items">
                                    <div>
                                        <img class="mobile" src="{% static 'assets/1 (26).png' %}" alt="">
                                    </div>
                                    <p>Mobile ads</p>
                                </div>
                                <div class="items">
                                    <div>
                                        <img class="native" src="{% static 'assets/1 (27).png' %}" alt="">
                                    </div>
                                    <p>Native ads</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="{% static 'assets/1 (23).png' %}" alt="">
                    </div>
                </div>
                <div class="boxes three">
                    <div>
                        <img src="{% static 'assets/1.png' %}" alt="">
                    </div>
                    <div class="text-content">
                        <p><q>
                                It's night and day how much more work we can do with ad screenshots off our plate.
                            </q></p>
                        <p class="syed-salman">
                            <span>Syed Salman, </span>
                            Ad Ops Specialist saved 300 hours in 2019 by using Ad Reform
                        </p>
                    </div>
                </div>
                <div class="howitworks">
                    How it works...
                </div>
                <div class="boxes four">
                    <div>
                        <p>Upload ads or
                        </p>
                        <p>integrate your
                            DSP</p>
                    </div>
                    <div>
                        <img src="{% static 'assets/1 (5).png' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'assets/1 (28).png' %}" alt="">
                    </div>
                </div>
                <div class="boxes five">
                    <div>
                        <img src="{% static 'assets/1 (32).png' %}" alt="">
                    </div>
                    <div>
                        <p>Choose sites</p>
                        <p>and devices</p>
                    </div>
                </div>
                <div class="boxes six">
                    <div>
                        <p>Generate</p>
                        <p>Screenshots</p>
                        <p>in minutes</p>
                    </div>
                    <div>
                        <img src="{% static 'assets/1 (31).png' %}" alt="">
                    </div>
                </div>
                <div class="boxes seven">
                    <div>
                        <img src="{% static 'assets/1 (29).png' %}" alt="">
                    </div>
                    <div>
                        <p>Get notified when</p>
                        <p>your screenshots</p>
                        <p>ready</p>
                    </div>
                </div>
                <div class="boxes eight">
                    <div>
                        <p>Export</p>
                        <p>Screenshots</p>
                    </div>
                    <div>
                        <img src="{% static 'assets/1 (30).png' %}" alt="">
                    </div>
                </div>
                <div class="features">
                    Features
                </div>
                <div class="boxes nine">
                    <div class="items">
                        <img src="{% static 'assets/1 (43).png' %}" alt="">
                        <h4>Custom Integrations (beta)</h4>
                        <p>Send screenshot request data from your DSP (ie. DV360, The Trade Desk, Xandr, GAM, etc.) or
                            other ad a platform. Sit back and watch the screenshots roll in.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (42).png' %}" alt="">
                        <h4>Browser URL, date, and
                            timestamp</h4>
                        <p>Add the browser URL bar and the date and time from the operating system to your screenshots.
                        </p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (41).png' %}" alt="">
                        <h4>Customizable ad slots and
                            frame</h4>
                        <p>Choose which ad slot is used in your screenshots. Don't be limited to a specific slot on the
                            page. For animated ads or video, choose a specific frame of the ad.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (40).png' %}" alt="">
                        <h4>Multiple device support</h4>
                        <p>Screenshot ads on desktop, tablet, and mobile, all in one step. Don't waste time generating
                            screenshots manually for each device, we'll handle that.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (36).png' %}" alt="">
                        <h4>Presentation creation</h4>
                        <p>Create Powerpoint and PDF presentations in 2 clicks. Customize with a logo, title + subtitle,
                            and even custom slide titles.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (35).png' %}" alt="">
                        <h4>Site tagging</h4>
                        <p>Tag sites by industry, page type, or common ad sizes. Search tags when generating screenshots
                            to find the best site for your needs.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (34).png' %}" alt="">
                        <h4>Brand Safety</h4>
                        <p>Ensure your ad screenshots are in brand safe environments. Customize at the organization
                            level and the campaign level.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (33).png' %}" alt="">
                        <h4>OEM Co-op screenshots</h4>
                        <p>Claim your OEM Co-Op dollars with ease by automating your screenshots every month on
                            Facebook, Google display and more.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (37).png' %}" alt="">
                        <h4>Fast</h4>
                        <p>Ad Reform is 5-10x faster than capturing screenshots manually. Generate hundreds of
                            screenshots at once with our one-step CSV import.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (38).png' %}" alt="">
                        <h4>Flexible</h4>
                        <p>Import ad tags, URLs, or files via CSV or DSP integration (beta). Run screenshots on any live
                            URL and device. Download screenshot images directly or create a presentation via PDF or
                            Powerpoint.</p>
                    </div>
                    <div class="items">
                        <img src="{% static 'assets/1 (39).png' %}" alt="">
                        <h4>Complete</h4>
                        <p>We have a dedicated team to help with your screenshot needs. Add any special requirements
                            (e.g. brand safety, specific ad frames), and we'll ensure they're met. The perfect
                            combination of automation and customization.</p>
                    </div>
                </div>
            </div>

            <div class="container2">
                <div class="items">
                    <p class="heading">Wave goodbye to your busy work</p>
                </div>
                <div class="items">
                    <p class="para">Don't waste another minute. Signup for access now and start saving time</p>
                </div>
                <div class="items input-submit">
                    <input type="text" placeholder="Company Email">
                    <input class="inputbtn" type="button" value="Start Now">
                </div>
                <div class="box">
                    <div class="toppart">
                        <div class="header">
                            <img src="{% static 'assets/Group 145.png' %}" alt="">
                            <p> Adam Johns</p>
                        </div>
                        <div>
                            <img class="stars" src="{% static 'assets/Icon awesome-star.png' %}" alt="">
                            <img class="stars" src="{% static 'assets/Icon awesome-star.png' %}" alt="">
                            <img class="stars" src="{% static 'assets/Icon awesome-star.png' %}" alt="">
                            <img class="stars" src="{% static 'assets/Icon awesome-star.png' %}" alt="">
                            <img class="stars" src="{% static 'assets/Icon awesome-star.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bottompart">
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate the visual form of a document or a typeface without relying on meaningful
                            content. Lorem ipsum may be used as placeholder before the final company is</p>
                    </div>
                </div>
            </div>
        </section>
        {% include 'app/footer.html' %}
    </div>
</body>

</html>